<launch>
    <arg name="paused" default="true"></arg>
    <arg name="use_sim_time" default="false"></arg>
    <arg name="gui" default="true"></arg>
    <arg name="headless" default="false"></arg>
    <arg name="debug" default="true"></arg>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find myrobot_gazebo)/worlds/robot.world"></arg>
        <arg name="debug" value="$(arg debug)"></arg>
        <arg name="paused" value="$(arg paused)"></arg>
        <arg name="use_sim_time" value="$(arg use_sim_time)"></arg>
        <arg name="headless" value="$(arg headless)"></arg>    
    </include>
    <arg name="model"></arg>
    <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)"/>
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false"
        output="screen" args="-urdf -model robot1 -param robot_description -z 0.05"
    >    
    </node>
</launch>